@{
    ViewData["Title"] = "Informações";
}

<div class="text-center">
    <h2 class="display-4">Suas informações</h2>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Data de nascimento</th>
            <th scope="col">Telefone</th>
            <th scope="col">Meu pacote</th>
            <th scope="col">Minhas atividades</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">100</th>
            <td>Leonardo</td>
            <td>18/09/2003</td>
            <td>11945624700</td>
            <td>Sócio</td>
            <td>@@none</td>
        </tr>
        <tr>
            <th scope="row">101</th>
            <td>Bruna</td>
            <td>20/04/2000</td>
            <td>11981400500</td>
            <td>Não-sócio</td>
            <td>CPP</td>
        </tr>
    </tbody>
</table>