@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h2 class="display-4">Bem-vindo!</h2>
    <p>Cadastro de usuários</p>
</div>

    <form action="" method="post">
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" name="inputNome" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Data de nascimento</label>
            <input type="text" class="form-control" name="inputNasc" placeholder="DD/MM/AAAA" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Telefone</label>
            <input type="text" class="form-control" name="inputTel" placeholder="(DDD)XXXXX-XXXX" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Pacote</label>
                <select class="form-select" name="packs" required>
                    <optgroup label="Planos de Sócio">
                    <option selected>Sócio: R$199,99</option>
                    <option value="extra">Sócio plus: R$399,99</option>
                    </optgroup>
                    <optgroup label="Planos de não associado">
                    <option value="socio">Não-sócio: R$199,99</option>
                    </optgroup>
                </select>
        </div>
        <label class="form-label">Atividades</label>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="atv1">
        <label class="form-check-label" for="flexCheckDefault">Atividade 1</label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="atv2">
        <label class="form-check-label" for="flexCheckChecked">Atividade 2</label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="atv3">
        <label class="form-check-label" for="flexCheckChecked">Atividade 3</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" required />
            <label class="form-check-label" for="exampleCheck1">Confirmo que as informações acima são verdadeiras</label>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 1rem;" asp-controller="Cadastro" asp-action="Confirmar">Enviar</button>
    </form>

